body {
    padding: 4rem 0;
}

/* HEADER */
/* ***/

/* MAIN */
/* ************************ */
.card {
    width: 80vw;
    gap: var(--space-200);
    border-radius: 20px;
    padding: var(--space-200);
    margin: auto;
}
.card img {
    width: 6rem;
}
h3 {
    padding: 0.6rem;
}