/* HERE BE VARIABLES */

:root {
    --background: hsl(0, 0%, 8%);
    --card-background: hsl(0, 0%, 12%);
    --link-background: hsl(0, 0%, 20%);
    --text: hsl(0, 0%, 100%);
    --accent: hsl(75, 94%, 57%);
    --font-size: 14px;
    --space-500: 3rem;
    --space-300: 2rem;
    --space-200: 1rem;
}