/* HERE BE VARIABLES */

:root {
    --background: #1a2013;
    --card-background: #333d2a;
    --link-background: #43531c;
    --text: #fafbf2;
    --accent: #dee9a6;
    --font-size: 14px;
    --space-500: 3rem;
    --space-300: 2rem;
    --space-200: 1rem;
}
